/*
    Created on : 2016 - 2019
    Author     : john H. Ring IV
*/

/* https://stackoverflow.com/questions/37322163/overflow-property-not-working-in-ie-11 */
.dropdown-container {
    display: flex;
    max-height: 320px;
    flex-direction: column;
}

.dropdown-container > div {
    flex-basis: min-content;
}

.dropdown-container > div.dropdown-content {
    -ms-flex: 0 0 200px;
    overflow: auto;
}

.dropdown {
    margin: 20px;
}

.dropdown-menu {
    display: none;
    max-height: 20rem;
    overflow-y: auto;
    -ms-overflow-style: scrollbar;
}

.dropdown-menu.dropdown-container.show {
    display: flex;
}

/*zoom-in.cur from https://github.com/vizabi/vizabi*/
img.zoom {
    cursor: url('../img/zoom-in.cur'), auto;
    cursor: zoom-in;
}

a.unlink {
    color: inherit;
}
a.unlink:hover {
    color: #0056b3;
    text-decoration-line: none;
}

#team body {
    padding-top: 54px;
}

#team @media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

body {
    padding-top: 70px;
    padding-bottom: 30px;
    line-height: 1.6;
    /*color: #999;*/
    /*background-color: #252525;*/
}

button:focus {outline:0;}

a:focus {outline:0;}

.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.copyright {
    /*background: #222;*/
    border-top: none;
    padding: 10px 0 5px;
}

.inline-collapse li {
    display: inline-block !important;
}

.headline {
    border-bottom: 1px dotted #555;
}

.headline h2 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #005596;
}

.link-list li {
    border-top: solid 1px #353535;
}

.link-list li:first-child {
    border-top: none !important;
}

.link-list a {
    /*color: #eee;*/
    font-size: 11px;
    padding: 6px 0;
    display: inline-block;
    text-transform: uppercase;
}

.link-list li i {
    /*color: #bbb;*/
    float: right;
    margin-top: 10px;
}

.margin-bottom-40 {
    clear: both;
    margin-bottom: 40px;
}

/*==========================
Navbar
 */
.navbar {
    background-image: linear-gradient(to right, #005582, #00568d, #005697, #0056a1, #0055aa);
    background-color: #005596;
    border: 1px solid #005596;
}

/*=========================
  Make navbar work without JS
 ================= */
#navbar-toggle-cbox {
    display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
